@using PhoneStore.Models.db
@model IEnumerable<product>




<li class="nav-item active submenu dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">Danh mục sản phẩm</a>
    <ul class="dropdown-menu">
        @foreach (var groupItem in Model.GroupBy(n => n.category))
        {
            <li class="dropdown-header">@groupItem.Key.name</li>
            foreach (var item in groupItem.GroupBy(n => n.brand))
            {
                if (item.Key != null)
                {
            <li>
                @* <a class="nav-link" href="category.html">Danh mục sản phẩm</a>*@
                @*@Html.ActionLink("Apple", "Apple", "DanhMuc", new { @class = "nav-link" })*@

                <a class="nav-link" href="@Url.Action(item.Key.name, "DanhMuc")">@item.Key.name</a>
            </li>
                    }
                }
            }

    </ul>
</li>
